<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
 
<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0","margin":{"top":"10vh"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull" style="margin-top:10vh">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"2rem","left":"2rem"}}}} -->
		<div class="wp-block-columns alignwide">

			<!-- wp:column {"width":"25%"} -->
			<div class="wp-block-column" style="flex-basis:25%">
				<!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /-->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"75%"} -->
			<div class="wp-block-column" style="flex-basis:75%">
				<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
				<main class="wp-block-group">
					<!-- wp:pattern {"slug":"game-dev-portfolio/hidden-404"} /-->
				</main>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->

		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
