<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:post-featured-image {"align":"wide"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"2rem","left":"2rem"}}}} -->
		<div class="wp-block-columns alignwide">

			<!-- wp:column {"width":"25%"} -->
			<div class="wp-block-column" style="flex-basis:25%">
				<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"shadow":"var:preset|shadow|natural","spacing":{"padding":{"top":"var:preset|spacing|10","bottom":"var:preset|spacing|10","left":"var:preset|spacing|10","right":"var:preset|spacing|10"}},"border":{"radius":"0.5rem"}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group" style="border-radius:0.5rem;padding-top:var(--wp--preset--spacing--10);padding-right:var(--wp--preset--spacing--10);padding-bottom:var(--wp--preset--spacing--10);padding-left:var(--wp--preset--spacing--10);box-shadow:var(--wp--preset--shadow--natural)">
					<!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"75%"} -->
			<div class="wp-block-column" style="flex-basis:75%">
				<!-- wp:post-title {"level":1,"fontSize":"x-large"} /-->

				<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->
			</div>
			<!-- /wp:column -->
		</div>

		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
