<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0","margin":{"top":"10vh"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull" style="margin-top:10vh">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
		<div class="wp-block-group alignwide">
			<!-- wp:group {"align":"full","layout":{"type":"default"}} -->
			<div class="wp-block-group alignfull">
				<!-- wp:post-featured-image {"style":{"spacing":{"padding":{"bottom":"2vh"}}}} /-->

				<!-- wp:post-title {"level":1,"fontSize":"x-large"} /-->

				<!-- wp:template-part {"slug":"post-meta"} /-->

				<!-- wp:spacer {"height":"var:preset|spacing|10"} -->
				<div style="height:var(--wp--preset--spacing--10)" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"align":"full","layout":{"type":"default"}} -->
			<div class="wp-block-group alignfull">
				<!-- wp:post-content {"lock":{"move":false,"remove":true},"align":"full","layout":{"type":"default"}} /-->

				<!-- wp:post-terms {"term":"post_tag","separator":"  ","className":"is-style-pill"} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"align":"full","layout":{"type":"default"}} -->
			<div class="wp-block-group alignfull">
				<!-- wp:spacer {"height":"4rem"} -->
				<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->

				<!-- wp:pattern {"slug":"game-dev-portfolio/hidden-comments"} /-->

				<!-- wp:spacer {"height":"4rem"} -->
				<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->

				<!-- wp:pattern {"slug":"game-dev-portfolio/hidden-post-navigation"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
