<!-- wp:template-part {"slug":"header","theme":"game-dev-portfolio","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","className":"is-style-grid-sidebar","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide is-style-grid-sidebar">

	<!-- wp:site-logo {"className":"is-style-rounded is-style-logo"} /-->

	<!-- wp:group {"className":"is-style-sidebar","layout":{"type":"constrained"}} -->
	<div class="wp-block-group is-style-sidebar">
		<!-- wp:template-part {"slug":"sidebar","theme":"game-dev-portfolio","tagName":"aside"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"is-style-content","layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group is-style-content">
		<!-- wp:pattern {"slug":"twentytwentyfour/page-home-business"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"game-dev-portfolio","tagName":"footer","area":"footer"} /-->
