<!-- wp:template-part {"slug":"header","theme":"game-dev-portfolio","tagName":"header","area":"header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"20px","bottom":"20px"}}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-base-background-color has-background"
	style="padding-top:20px;padding-bottom:20px">

	<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|10","margin":{"top":"5vh"}}},"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
	<main class="wp-block-group alignwide" style="margin-top:5vh">

		<!-- wp:site-logo /-->

		<!-- wp:post-featured-image /-->

		<!-- wp:template-part {"slug":"sidebar","theme":"game-dev-portfolio","tagName":"aside"} /-->

		<!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
		<div class="wp-block-group">
			<!-- wp:pattern {"slug":"twentytwentyfour/page-home-business"} /-->
		</div>
		<!-- /wp:group -->
	</main>
	<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"game-dev-portfolio","tagName":"footer","area":"footer"} /-->
